<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>产品中心 - 万博龙腾官网 - 建材经销商</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/fevicon.png">
    <!-- CSS
       ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="/css/font-awesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- Base Icons -->
    <link rel="stylesheet" href="/css/pbminfotech-base-icons.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="/css/swiper.min.css">
    <!-- Magnific -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="/css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="/css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/revolution/rs6.css">
</head>
<body>

<!-- page wrapper -->
<div class="page-wrapper">
    <!-- Header Main Area -->
    <header class="site-header header-style-1">
        <%- include("header.ejs", {active: "goods"}) %>
    </header>
    <!-- Header Main Area End Here -->

    <!-- Page Content -->
    <div class="page-content">
        <!-- Produects -->
        <section class="section-md">
            <div class="container-xxl">
                <div class="pbmit-heading-subheading text-center">
                    <h4 class="pbmit-subtitle-2">PRODUCTS</h4>
                    <h2 class="pbmit-title">产品中心</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="tab-single-one">
                            <div class="pbmit-tab-style-1">
                                <div class="row">
                                    <div class="col-3">
                                        <ul class="nav flex-column nav-tabs mb-4" role="tablist">
                                            <% products.forEach(function(item, index){%>
                                                <li class="nav-item mb-3" role="presentation">
                                                    <a class="nav-link <%= index===0?'active':'' %> pbmit-bg-color-light" data-bs-toggle="tab" href="#one_<%=item.id %>" aria-selected="true" role="tab">
                                                        <span><%=item.title %></span>
                                                    </a>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    <div class="col-9">
                                        <div class="tab-content">
                                            <% products.forEach(function(item, index){%>
                                                <div class="tab-pane tab-two-category <%= index===0?'show active':'' %>" id="one_<%=item.id%>" role="tabpanel">
                                                    <ul class="nav nav-tab nav-fill mb-3 nav-tabs" id="pills-tab" role="tablist">
                                                        <% item.data.forEach(function(twoItem, twoIndex){%>
                                                            <li class="nav-item" role="presentation">
                                                                <button class="nav-link fs-6 <%= twoIndex===0?'active':'' %>" data-bs-toggle="pill" data-bs-target="#two_<%=twoItem.id %>" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                                                    <%=twoItem.title %>AA
                                                                </button>
                                                            </li>
                                                        <% })%>
                                                    </ul>
                                                    <div class="tab-content" id="pills-tabContent">
                                                        <% item.data.forEach(function(twoItem, twoIndex){%>
                                                            <div class="tab-pane fade <%= twoIndex===0?'show active':'' %>" id="two_<%=twoItem.id %>" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                                                <div class="row">
                                                                    <% twoItem.pros.forEach(function(pro, proIndex){%>
                                                                    <div class="col-md-6">
                                                                        <article class="pbmit-team-style-1">
                                                                            <div class="pbminfotech-post-item">
                                                                                <div class="pbminfotech-team-image-box">
                                                                                    <div class="pbmit-featured-wrapper">
                                                                                        <a href="/product?oneid=<%=index%>&twoid=<%=twoIndex%>&proId=<%=proIndex%>">
                                                                                            <img src="<%=pro.image %>" style="width:240px; height:240px" alt="">
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="pbminfotech-box-content d-flex justify-content-between align-items-center">
                                                                                    <div class="pbmit-member-content">
                                                                                        <div class="pbminfotech-box-team-position-wrap">
                                                                                            <div class="pbminfotech-box-team-position"><%=item.title %></div>
                                                                                        </div>
                                                                                        <h5 class="pt-2 pbmit-team-title">
                                                                                            <a href="/product?oneid=<%=index%>&twoid=<%=twoIndex%>&proId=<%=proIndex%>"><%=pro.title %></a>
                                                                                        </h5>
                                                                                        <div class="pt-2 text-truncate-2">
                                                                                            <%=pro.desc %>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div>
                                                                    <% })%>
                                                                </div>
                                                            </div>
                                                        <% })%>
                                                    </div>

                                                </div>
                                            <% }) %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Page Content End -->

    <!-- footer -->
    <div class="pbmit-footer-overlay">
        <div class="pbmit-footer-overlay-inner">
            <div class="container">
                <div class="row">
                    <div class="pbmit-footer-overlay-left col-xl-3 col-md-12"> </div>
                    <div class="pbmit-footer-overlay-right col-xl-9 col-md-12">
                        <div class="pbmit-footer-contact-info">
                            <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                <i class="pbmit-industrey-icon pbmit-base-icon-time-call"></i>
                                <div class="pbmit-footer-contact-info-wrap">
                                    <span class="pbmit-label pbmit-label-2">全国服务热线</span>+(86) 18301159652
                                </div>
                            </div>
                        </div>
                        <div class="pbmit-footer-contact-info">
                            <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                <i class="pbmit-industrey-icon pbmit-base-icon-email"></i>
                                <div class="pbmit-footer-contact-info-wrap">
                                    <span class="pbmit-label pbmit-label-2">公司邮箱</span>
                                    services@wanbodragon.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include footer.ejs%>


</div>
<!-- page wrapper End -->

<!-- JS
   ============================================ -->
<!-- jQuery JS -->
<script src="/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- jquery Waypoints JS -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- jquery Appear JS -->
<script src="/js/jquery.appear.js"></script>
<!-- Numinate JS -->
<script src="/js/numinate.min.js"></script>
<!-- Swiper JS -->
<script src="/js/swiper.min.js"></script>
<!-- Magnific JS -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Circle Progress JS -->
<script src="/js/circle-progress.js"></script>
<!-- Scripts JS -->
<script src="/js/scripts.js"></script>
<!-- Revolution JS -->
<script src="/revolution/rslider.js"></script>
<script src="/revolution/rbtools.min.js"></script>
<script src="/revolution/rs6.min.js"></script>
</body>
</html>