<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>万博龙腾绿居仁官方网站</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/fevicon.png">
    <!-- CSS
       ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="/css/font-awesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- Base Icons -->
    <link rel="stylesheet" href="/css/pbminfotech-base-icons.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="/css/swiper.min.css">
    <!-- Magnific -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="/css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="/css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/revolution/rs6.css">
    
</head>
<body>

<!-- page wrapper -->
<div class="page-wrapper">
    <!-- Header Main Area -->
    <header class="site-header header-style-1">
        <%- include("header.ejs", {active: "home"}) %>
        <div class="pbmit-slider-area" style="width: 100%">
            <!-- START Slider Demo 3 REVOLUTION SLIDER 6.5.20 --><p class="rs-p-wp-fix"></p>
            <rs-module-wrap id="rev_slider_3_1_wrapper" data-alias="slider-demo-3" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
                <rs-module id="rev_slider_3_1" data-version="6.5.20">
                    <rs-slides>
                        <rs-slide style="position: absolute;" data-key="rs-1" data-title="Slide" data-thumb="revolution/images/slider03-img1-50x100.jpg" data-in="o:0;" data-out="a:false;">
                            <img src="revolution/images/slider03-img1.jpg" alt="" title="slider03-img1.jpg" width="1920" height="815" class="rev-slidebg tp-rs-img" data-no-retina>
                            <rs-layer
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="xo:90px,74px,56px,60px;y:m;yo:-30px,-72px,-54px,-20px;"
                                data-text="w:normal;s:80,70,55,35;l:80,70,55,35;"
                                data-frame_0="x:100%;"
                                data-frame_0_mask="u:t;"
                                data-frame_1="st:1000;sp:1000;sR:1000;"
                                data-frame_1_mask="u:t;"
                                data-frame_999="o:0;st:w;sR:7000;"
                                style="z-index:10;"
                            >万博筑基，共绘未来<br>
                            </rs-layer>

                            <rs-layer
                                    id="slider-1-slide-1-layer-6"
                                    data-type="text"
                                    data-rsp_ch="on"
                                    data-xy="xo:90px,74px,56px,34px;y:m;yo:100px,35px,28px,17px;"
                                    data-text="w:normal;s:22,20,18,11;l:30,24,22,13;"
                                    data-vbility="t,t,t,f"
                                    data-frame_0="x:100%;"
                                    data-frame_0_mask="u:t;"
                                    data-frame_1="st:1580;sp:1000;sR:1580;"
                                    data-frame_1_mask="u:t;"
                                    data-frame_999="o:0;st:w;sR:6420;"
                                    style="z-index:11;font-family:'Yantramanav';"
                            >万博筑基，龙腾未来<br>建材之选，共绘生活蓝图。
                            </rs-layer>
                            
                        </rs-slide>
                        <rs-slide style="position: absolute;" data-key="rs-3" data-title="Slide" data-thumb="revolution/images/slider03-img2-50x100.jpg" data-in="o:0;" data-out="a:false;">
                            <img src="revolution/images/slider03-img2.jpg" alt="" title="slider03-img2.jpg" width="1920" height="815" class="rev-slidebg tp-rs-img" data-no-retina>
                            <rs-layer
                                    data-type="text"
                                    data-rsp_ch="on"
                                    data-xy="xo:90px,74px,56px,60px;y:m;yo:-30px,-72px,-54px,-20px;"
                                    data-text="w:normal;s:80,70,55,35;l:80,70,55,35;"
                                    data-frame_0="x:100%;"
                                    data-frame_0_mask="u:t;"
                                    data-frame_1="st:1000;sp:1000;sR:1000;"
                                    data-frame_1_mask="u:t;"
                                    data-frame_999="o:0;st:w;sR:7000;"
                                    style="z-index:10;"
                            >万博建材，筑梦龙腾<br>
                            </rs-layer>

                            <rs-layer
                                    id="slider-1-slide-1-layer-6"
                                    data-type="text"
                                    data-rsp_ch="on"
                                    data-xy="xo:90px,74px,56px,34px;y:m;yo:100px,35px,28px,17px;"
                                    data-text="w:normal;s:22,20,18,11;l:30,24,22,13;"
                                    data-vbility="t,t,t,f"
                                    data-frame_0="x:100%;"
                                    data-frame_0_mask="u:t;"
                                    data-frame_1="st:1580;sp:1000;sR:1580;"
                                    data-frame_1_mask="u:t;"
                                    data-frame_999="o:0;st:w;sR:6420;"
                                    style="z-index:11;font-family:'Yantramanav';"
                            >万博集萃，龙腾万家<br>品质建材，筑就梦想家园。
                            </rs-layer>
                        </rs-slide>
                    </rs-slides>
                    <rs-static-layers><!--
						--></rs-static-layers>
                </rs-module>
            </rs-module-wrap>
            <!-- END REVOLUTION SLIDER -->
        </div>
    </header>
    <!-- Header Main Area End Here -->

    <!-- Page Content -->
    <div class="page-content">
        <!-- Produects -->
        <section class="section-md">
            <div class="" style="width: 90vw; margin:0 auto">
                <div class="pbmit-heading-subheading text-center">
                    <h4 class="pbmit-subtitle-2">PRODUCTS</h4>
                    <h2 class="pbmit-title">产品中心</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="tab-single-one">
                            <div class="pbmit-tab-style-1">
                                <div class="row">
                                    <div class="col-2">
                                        <ul class="nav flex-column nav-tabs mb-4" role="tablist">
                                            <% products.forEach(function(item, index){%>
                                                <li class="nav-item mb-3" role="presentation">
                                                    <a class="nav-link <%= index===0?'active':'' %> pbmit-bg-color-light" data-bs-toggle="tab" href="#one_<%=item.id %>" aria-selected="true" role="tab">
                                                        <span><%=item.title %></span>
                                                    </a>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    <div class="col-10">
                                        <div class="tab-content">
                                            <% products.forEach(function(item, index){%>
                                                <div class="tab-pane tab-two-category <%= index===0?'show active':'' %>" id="one_<%=item.id%>" role="tabpanel">
                                                    <div class="tab-content" id="pills-tabContent">
                                                        <% item.data.forEach(function(twoItem, twoIndex){%>
                                                            <div class="tab-pane fade <%= twoIndex===0?'show active':'' %>" id="two_<%=twoItem.id %>" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                                                <div class="row">
                                                                    <% twoItem.pros.forEach(function(pro, proIndex){%>
                                                                    <div class="col-md-4">
                                                                        <article class="pbmit-team-style-1">
                                                                            <div class="pbminfotech-post-item">
                                                                                <div class="">
                                                                                    <div class="pbmit-featured-wrapper" style="text-align: center;">
                                                                                        <a href="/product?oneid=<%=index%>&twoid=<%=twoIndex%>&proId=<%=proIndex%>">
                                                                                            <img src="<%=pro.image %>" style="width:240px; height:275px" alt="">
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="pbminfotech-box-content d-flex justify-content-between align-items-center">
                                                                                    <div class="pbmit-member-content">
                                                                                        <div class="">
                                                                                            <h4 class="pt-2 pbmit-team-title text-truncate" style="width:95%;">
                                                                                                <a href="/product?oneid=<%=index%>&twoid=<%=twoIndex%>&proId=<%=proIndex%>"><%=pro.title %></a>
                                                                                            </h4>
                                                                                        </div>
                                                                                        <div class="pt-2 text-truncate-2">
                                                                                            <%=pro.desc %>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div>
                                                                    <% })%>
                                                                </div>
                                                            </div>
                                                        <% })%>
                                                    </div>

                                                </div>
                                            <% }) %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  What We Do Start -->
        <section class="section-lgb overflow-hidden">
            <div class="container g-0">
                <div class="row g-0">
                    <div class="col-md-7">
                        <div class="project-bg-left-two">
                            <div class="project-content">
                                <div class="pbmit-heading-subheading text-global">
                                    <h2 class="pbmit-title">企业介绍</h2>
                                    <div class="pbmit-heading-desc text-white lh-lg">万博龙腾科技有限企业创立于2021年9月，作为一家深耕于于涂料领域的高新技术企业，绿居仁涂料以其无与伦比的技术实力和创新精神，迅速成为行业的中坚力量，从微末小店到行业翘楚，万博龙腾始终秉持“科技引领，绿色环保”的核心理念，致力于为国内用户提供卓越的乳胶漆解决方案，并拥有一支汇聚国内外顶尖专家的科研团队，在材料科学、化学工程及环境科学等领域有着深厚的造诣，通过不懈的技术攻关和创新，我们确保每一滴涂料都蕴含着最高的品质与最前沿的科技。
                                        万博龙腾产品线涵盖了内外墙乳胶漆、防霉抗菌涂料、腻子粉、抗裂砂浆、墙固、背涂胶、结构胶等多个系列，以绿居仁品牌为主，广泛应用于住宅、商业、工业等各类建筑领域，以其优异的耐候性、出色的遮盖力和绚丽的装饰效果，赢得了广大客户的青睐与信任，每一款产品，都是我们对品质的执着追求和对客户承诺的最好诠释。</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="project-bg-two">
                            <div class="pbmit-ihbox pbmit-ihbox-style-10">
                                <div class="pbmit-ihbox-box d-flex align-items-center">
                                    <div class="pbmit-ihbox-icon">
                                        <div class="pbmit-ihbox-icon-wrapper">
                                            <i class="pbmit-industrey-icon pbmit-industrey-icon-trophy"></i>
                                        </div>
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                        <h2 class="pbmit-element-title">绿居仁涂料</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Start -->
        <section class="section-xxl">
            <div class="container">
                <div class="pbmit-heading-subheading text-center">
                    <h2 class="pbmit-title">企业新闻</h2>
                </div>
                <div class="row pbmit-blog-style">
                    <article class="pbmit-blog-style-3 col-xl-4 col-md-6">
                        <div class="post-item">
                            <div class="pbmit-featured-container">
                                <div class="pbmit-featured-wrapper">
                                    <img src="images/homepage-3/blog/blog-new-01.jpg" class="image" alt="">
                                </div>
                                <div class="pbmit-meta-date-wrapper">
                                    <span class="pbmit-post-date">29</span>
                                    <span class="pbmit-post-month-year">6月</span>
                                </div>
                            </div>
                            <div class="pbminfotech-box-content">
                                <h3 class="pbmit-post-title">
                                    <a href="blog-single-details.html">新型环保涂料引领绿色家装潮流</a>
                                </h3>
                                <div class="pbminfotech-box-desc text-truncate-2">在 2024 年，随着人们对环保和健康的关注度不断提升，新型环保涂料成为了家装市场的宠儿。据最新市场调研显示，具有低挥发性有机化合物（VOC）排放、抗菌防霉等特性的环保涂料，销量同比增长了[X]%。</div>
                            </div>
                        </div>
                    </article>
                    <article class="pbmit-blog-style-3 col-xl-4 col-md-6">
                        <div class="post-item">
                            <div class="pbmit-featured-container">
                                <div class="pbmit-featured-wrapper">
                                    <img src="images/homepage-3/blog/blog-new-02.jpg" class="image" alt="">
                                </div>
                                <div class="pbmit-meta-date-wrapper">
                                    <span class="pbmit-post-date">18</span>
                                    <span class="pbmit-post-month-year">6月</span>
                                </div>
                            </div>
                            <div class="pbminfotech-box-content">
                                <h3 class="pbmit-post-title">
                                    <a href="blog-single-details.html">涂料技术创新，提升建筑外观耐久性</a>
                                </h3>
                                <div class="pbminfotech-box-desc text-truncate-2">
                                    建筑行业对于涂料的性能要求日益严格，为了满足市场需求，涂料技术不断创新。近日，[品牌名]涂料公司研发出一种新型的高性能涂料，能够显著提升建筑外观的耐久性。
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="pbmit-blog-style-3 col-xl-4 col-md-6">
                        <div class="post-item">
                            <div class="pbmit-featured-container">
                                <div class="pbmit-featured-wrapper">
                                    <img src="images/homepage-3/blog/blog-new-03.jpg" class="image" alt="">
                                </div>
                                <div class="pbmit-meta-date-wrapper">
                                    <span class="pbmit-post-date">10</span>
                                    <span class="pbmit-post-month-year">6月</span>
                                </div>
                            </div>
                            <div class="pbminfotech-box-content">
                                <h3 class="pbmit-post-title">
                                    <a href="blog-single-details.html">涂料市场竞争激烈，品牌差异化战略凸显</a>
                                </h3>
                                <div class="pbminfotech-box-desc text-truncate-2">
                                    2024 年的涂料市场竞争愈发激烈，各大品牌纷纷采取差异化战略以吸引消费者。一些品牌注重产品的个性化定制，满足不同消费者的特殊需求；而另一些品牌则强调服务的专业性和全方位性。
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="text-center mt-5">
                    <a href="blog-grid-view.html" class="pbmit-btn pbmit-btn-shape-round pbmit-btn-outline">
                        <span>更多新闻</span>
                    </a>
                </div>
            </div>
        </section>
        <!-- Blog End -->
    </div>
    <!-- Page Content End -->

    <!-- footer -->
    <div class="pbmit-footer-overlay">
        <div class="pbmit-footer-overlay-inner">
            <div class="container">
                <div class="row">
                    <div class="pbmit-footer-overlay-left col-xl-3 col-md-12"> </div>
                    <div class="pbmit-footer-overlay-right col-xl-9 col-md-12">
                        <div class="pbmit-footer-contact-info">
                            <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                <i class="pbmit-industrey-icon pbmit-base-icon-time-call"></i>
                                <div class="pbmit-footer-contact-info-wrap">
                                    <span class="pbmit-label pbmit-label-2">全国服务热线</span>+(86) 18301159652
                                </div>
                            </div>
                        </div>
                        <div class="pbmit-footer-contact-info">
                            <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                <i class="pbmit-industrey-icon pbmit-base-icon-email"></i>
                                <div class="pbmit-footer-contact-info-wrap">
                                    <span class="pbmit-label pbmit-label-2">公司邮箱</span>
                                    services@wanbodragon.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include footer.ejs%>

</div>
<!-- page wrapper End -->

<!-- JS
   ============================================ -->
<!-- jQuery JS -->
<script src="/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- jquery Waypoints JS -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- jquery Appear JS -->
<script src="/js/jquery.appear.js"></script>
<!-- Numinate JS -->
<script src="/js/numinate.min.js"></script>
<!-- Swiper JS -->
<script src="/js/swiper.min.js"></script>
<!-- Magnific JS -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Circle Progress JS -->
<script src="/js/circle-progress.js"></script>
<!-- Scripts JS -->
<script src="/js/scripts.js"></script>
<!-- Revolution JS -->
<script src="/revolution/rslider.js"></script>
<script src="/revolution/rbtools.min.js"></script>
<script src="/revolution/rs6.min.js"></script>
</body>
</html>