<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>首页 - 万博龙腾官网 - 建材经销商</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/fevicon.png">
    <!-- CSS
       ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="/css/font-awesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- Base Icons -->
    <link rel="stylesheet" href="/css/pbminfotech-base-icons.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="/css/swiper.min.css">
    <!-- Magnific -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="/css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="/css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/revolution/rs6.css">
</head>
<body>

<!-- page wrapper -->
<div class="page-wrapper">
    <!-- Header Main Area -->
    <header class="site-header header-style-1">
        <%- include("header.ejs", {active: "home"}) %>
        <div class="pbmit-slider-area" style="width: 100%">
            <!-- START Slider Demo 3 REVOLUTION SLIDER 6.5.20 --><p class="rs-p-wp-fix"></p>
            <rs-module-wrap id="rev_slider_3_1_wrapper" data-alias="slider-demo-3" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
                <rs-module id="rev_slider_3_1" data-version="6.5.20">
                    <rs-slides>
                        <rs-slide style="position: absolute;" data-key="rs-1" data-title="Slide" data-thumb="revolution/images/slider03-img1-50x100.jpg" data-in="o:0;" data-out="a:false;">
                            <img src="revolution/images/slider03-img1.jpg" alt="" title="slider03-img1.jpg" width="1920" height="815" class="rev-slidebg tp-rs-img" data-no-retina>
                            <rs-layer
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="xo:90px,74px,56px,60px;y:m;yo:-30px,-72px,-54px,-20px;"
                                data-text="w:normal;s:80,70,55,35;l:80,70,55,35;"
                                data-frame_0="x:100%;"
                                data-frame_0_mask="u:t;"
                                data-frame_1="st:1000;sp:1000;sR:1000;"
                                data-frame_1_mask="u:t;"
                                data-frame_999="o:0;st:w;sR:7000;"
                                style="z-index:10;"
                            >万博筑基，共绘未来<br>
                            </rs-layer>

                            <rs-layer
                                    id="slider-1-slide-1-layer-6"
                                    data-type="text"
                                    data-rsp_ch="on"
                                    data-xy="xo:90px,74px,56px,34px;y:m;yo:100px,35px,28px,17px;"
                                    data-text="w:normal;s:22,20,18,11;l:30,24,22,13;"
                                    data-vbility="t,t,t,f"
                                    data-frame_0="x:100%;"
                                    data-frame_0_mask="u:t;"
                                    data-frame_1="st:1580;sp:1000;sR:1580;"
                                    data-frame_1_mask="u:t;"
                                    data-frame_999="o:0;st:w;sR:6420;"
                                    style="z-index:11;font-family:'Yantramanav';"
                            >万博筑基，龙腾未来<br>建材之选，共绘生活蓝图。
                            </rs-layer>
                            
                        </rs-slide>
                        <rs-slide style="position: absolute;" data-key="rs-3" data-title="Slide" data-thumb="revolution/images/slider03-img2-50x100.jpg" data-in="o:0;" data-out="a:false;">
                            <img src="revolution/images/slider03-img2.jpg" alt="" title="slider03-img2.jpg" width="1920" height="815" class="rev-slidebg tp-rs-img" data-no-retina>
                            <rs-layer
                                    data-type="text"
                                    data-rsp_ch="on"
                                    data-xy="xo:90px,74px,56px,60px;y:m;yo:-30px,-72px,-54px,-20px;"
                                    data-text="w:normal;s:80,70,55,35;l:80,70,55,35;"
                                    data-frame_0="x:100%;"
                                    data-frame_0_mask="u:t;"
                                    data-frame_1="st:1000;sp:1000;sR:1000;"
                                    data-frame_1_mask="u:t;"
                                    data-frame_999="o:0;st:w;sR:7000;"
                                    style="z-index:10;"
                            >万博建材，筑梦龙腾<br>
                            </rs-layer>

                            <rs-layer
                                    id="slider-1-slide-1-layer-6"
                                    data-type="text"
                                    data-rsp_ch="on"
                                    data-xy="xo:90px,74px,56px,34px;y:m;yo:100px,35px,28px,17px;"
                                    data-text="w:normal;s:22,20,18,11;l:30,24,22,13;"
                                    data-vbility="t,t,t,f"
                                    data-frame_0="x:100%;"
                                    data-frame_0_mask="u:t;"
                                    data-frame_1="st:1580;sp:1000;sR:1580;"
                                    data-frame_1_mask="u:t;"
                                    data-frame_999="o:0;st:w;sR:6420;"
                                    style="z-index:11;font-family:'Yantramanav';"
                            >万博集萃，龙腾万家<br>品质建材，筑就梦想家园。
                            </rs-layer>
                        </rs-slide>
                    </rs-slides>
                    <rs-static-layers><!--
						--></rs-static-layers>
                </rs-module>
            </rs-module-wrap>
            <!-- END REVOLUTION SLIDER -->
        </div>
    </header>
    <!-- Header Main Area End Here -->

    <!-- Page Content -->
    <div class="page-content">
        <!-- Produects -->
        <section class="section-md">
            <div class="container-xxl">
                <div class="pbmit-heading-subheading text-center">
                    <h4 class="pbmit-subtitle-2">PRODUCTS</h4>
                    <h2 class="pbmit-title">产品中心</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="tab-single-one">
                            <div class="pbmit-tab-style-1">
                                <div class="row">
                                    <div class="col-3">
                                        <ul class="nav flex-column nav-tabs mb-4" role="tablist">
                                            <% products.forEach(function(item, index){%>
                                                <li class="nav-item mb-3" role="presentation">
                                                    <a class="nav-link <%= index===0?'active':'' %> pbmit-bg-color-light" data-bs-toggle="tab" href="#one_<%=item.id %>" aria-selected="true" role="tab">
                                                        <span><%=item.title %></span>
                                                    </a>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    <div class="col-9">
                                        <div class="tab-content">
                                            <% products.forEach(function(item, index){%>
                                                <div class="tab-pane tab-two-category <%= index===0?'show active':'' %>" id="one_<%=item.id%>" role="tabpanel">
<!--                                                    <ul class="nav nav-tab nav-fill mb-3 nav-tabs" id="pills-tab" role="tablist">-->
<!--                                                        <% item.data.forEach(function(twoItem, twoIndex){%>-->
<!--                                                            <li class="nav-item" role="presentation">-->
<!--                                                                <button class="nav-link fs-6 <%= twoIndex===0?'active':'' %>" data-bs-toggle="pill" data-bs-target="#two_<%=twoItem.id %>" type="button" role="tab" aria-controls="pills-home" aria-selected="true">-->
<!--                                                                    <%=twoItem.title %>-->
<!--                                                                </button>-->
<!--                                                            </li>-->
<!--                                                        <% })%>-->
<!--                                                    </ul>-->
                                                    <div class="tab-content" id="pills-tabContent">
                                                        <% item.data.forEach(function(twoItem, twoIndex){%>
                                                            <div class="tab-pane fade <%= twoIndex===0?'show active':'' %>" id="two_<%=twoItem.id %>" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                                                <div class="row">
                                                                    <% twoItem.pros.forEach(function(pro){%>
                                                                        <div class="col-md-6">
                                                                            <article class="pbmit-team-style-1">
                                                                                <div class="pbminfotech-post-item">
                                                                                    <div class="pbminfotech-team-image-box">
                                                                                        <div class="pbmit-featured-wrapper">
                                                                                            <a href="/product?oneid=<%=item.id%>&twoid=<%=twoItem.id%>&proId=<%=pro.id%>">
                                                                                                <img src="<%=pro.image %>" style="width:240px; height:240px" alt="">
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="pbminfotech-box-content d-flex justify-content-between align-items-center">
                                                                                        <div class="pbmit-member-content">
                                                                                            <div class="pbminfotech-box-team-position-wrap">
                                                                                                <div class="pbminfotech-box-team-position"><%=item.title %></div>
                                                                                            </div>
                                                                                            <h5 class="pt-2 pbmit-team-title">
                                                                                                <a href="/product?oneid=<%=item.id%>&twoid=<%=twoItem.id%>&proId=<%=pro.id%>"><%=pro.title %></a>
                                                                                            </h5>
                                                                                            <div class="pt-2 text-truncate-2">
                                                                                                <%=pro.desc %>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </article>
                                                                        </div>
                                                                    <% })%>
                                                                </div>
                                                            </div>
                                                        <% })%>
                                                    </div>

                                                </div>
                                            <% }) %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--        <section class="section-md">-->
<!--            <div class="container">-->
<!--                <div class="pbmit-heading-subheading text-center">-->
<!--                    <h4 class="pbmit-subtitle-2">CASE</h4>-->
<!--                    <h2 class="pbmit-title">合作案例</h2>-->
<!--                </div>-->
<!--                <div class="swiper-slider" data-autoplay="false" data-loop="false" data-dots="true" data-arrows="false" data-columns="2" data-margin="30" data-effect="slide">-->
<!--                    <div class="swiper-wrapper">-->
<!--                        <% cases.forEach(item => { %>-->
<!--                            <div class="swiper-slide">-->
<!--                                &lt;!&ndash; Slide1 &ndash;&gt;-->
<!--                                <article class="pbmit-portfolio-style-1">-->
<!--                                    <div class="pbminfotech-post-content">-->
<!--                                        <div class="pbmit-portfolio-img-wrapper">-->
<!--                                            <div class="pbmit-featured-wrapper">-->
<!--                                                <img src="<%=item.cover%>" class="img-fluid" alt="">-->
<!--                                            </div>-->
<!--                                            <div class="pbminfotech-icon-box pbminfotech-media-link">-->
<!--                                                <a class="pbmit-lightbox" title="Building Construction Project" href="/images/homepage-1/portfolio/project-new-01.jpg">-->
<!--                                                    <i class="pbmit-base-icon-plus"></i>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="pbminfotech-box-content">-->
<!--                                            <div class="pbminfotech-titlebox">-->
<!--                                                <h6 class="pbmit-port-cat">-->
<!--                                                    <a href="project-style-1.html" rel="tag"><%=item.tag %></a>-->
<!--                                                </h6>-->
<!--                                                <h3 class="pbmit-portfolio-title">-->
<!--                                                    <a href="project-single-details.html"><%=item.name %></a>-->
<!--                                                </h3>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </article>-->
<!--                            </div>-->
<!--                        <% })%>-->
<!--                    </div>-->
<!--                    <div class="pbmit-ihbox pbmit-ihbox-style-3">-->
<!--                        <div class="pbmit-ihbox-box">-->
<!--                            <div class="pbmit-ihbox-headingicon d-flex align-items-center">-->
<!--&lt;!&ndash;                                <div class="pbmit-ihbox-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="pbmit-ihbox-icon-wrapper pbmit-ihbox-icon-type-image">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <img src="images/homepage-3/testimonial-01.jpg" class="img-fluid" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                                <div class="pbmit-ihbox-contents">-->
<!--                                    <h2 class="pbmit-element-title lh-base">-->
<!--                                        产品优质，服务专业，客户需求响应迅速，<br />-->
<!--                                        合作愉快，期待长期共赢。-->
<!--                                    </h2>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <section class="section-md">
            <div class="container">
                <div class="pbmit-heading-subheading text-center">
                    <h4 class="pbmit-subtitle-2">BRAND</h4>
                    <h2 class="pbmit-title">合作品牌</h2>
                </div>
                <div class="client-section-three">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="client-ihbox">
                                <div class="pbmit-ihbox pbmit-ihbox-style-2">
                                    <div class="pbmit-ihbox-box">
                                        <div class="pbmit-ihbox-headingicon"></div>
                                        <div class="pbmit-ihbox-contents">
                                            <h2 class="pbmit-element-title lh-base"> 携手知名品牌 <br /> 共创共赢格局 </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row gy-5">
                                <% brands.forEach(item => { %>
                                    <div class="col-3 bg-white rounded" >
                                        <!-- Slide1 -->
                                        <article class="pbmit-client-style-1">
                                            <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                                                <h4 class="pbmit-hide">client 06</h4>
                                                <div class="">
                                                    <img src="<%=item.image %>" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-md">
            <div class="container">
                <div class="pbmit-heading-subheading text-center">
                    <h4 class="pbmit-subtitle-2">ABOUT</h4>
                    <h2 class="pbmit-title">企业介绍</h2>
                </div>
                <div>
                    万博龙腾科技有限企业创立于2021年9月，作为一家深耕于于建筑材料解决方案的经销企业，万博龙腾以其无与伦比的眼光和执着精神，迅速成为行业的中坚力量，从微末小店到行业翘楚，万博龙腾始终秉持“品质引领，绿色环保”的核心理念，与众多知名品牌建立了长期稳定的合作关系，汇集了多种品牌的优质产品，为客户提供一站式的采购服务，让您无需奔波各个装修卖场，“动动手指”轻松买到全网最低价建材！
                    经销产品涵盖了内外墙乳胶漆、艺术涂料、防霉抗菌涂料等多个系列，以绿居仁品牌为主，广泛应用于住宅、商业、工业等各类建筑领域，以其优异的耐候性、出色的遮盖力和绚丽的装饰效果，同时严把关口，贴心售后，凭借“新零售”模式，实现线上下单，线下xh内附近站点配送到位，大大缩减配送成本与时长，目前在全国拥有xx家城市分站，xx家建材家居品牌供应商，汇聚装修设计师与装修工人xx人，您可根据需要选择下单，赢得了广大客户的青睐与信任，每一款产品，都是我们对品质的执着追求和对客户承诺的最好诠释。
                    未来，我们将拓展平台服务，提供专业的家居设计和安装服务，帮助您打造一个舒适、美观和实用的家居空间。
                </div>
            </div>
        </section>
    </div>
    <!-- Page Content End -->

    <!-- footer -->
    <div class="pbmit-footer-overlay">
        <div class="pbmit-footer-overlay-inner">
            <div class="container">
                <div class="row">
                    <div class="pbmit-footer-overlay-left col-xl-3 col-md-12"> </div>
                    <div class="pbmit-footer-overlay-right col-xl-9 col-md-12">
                        <div class="pbmit-footer-contact-info">
                            <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                <i class="pbmit-industrey-icon pbmit-base-icon-time-call"></i>
                                <div class="pbmit-footer-contact-info-wrap">
                                    <span class="pbmit-label pbmit-label-2">全国服务热线</span>+(86) 18301159652
                                </div>
                            </div>
                        </div>
                        <div class="pbmit-footer-contact-info">
                            <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                <i class="pbmit-industrey-icon pbmit-base-icon-email"></i>
                                <div class="pbmit-footer-contact-info-wrap">
                                    <span class="pbmit-label pbmit-label-2">公司邮箱</span>
                                    services@wanbodragon.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include footer.ejs%>

</div>
<!-- page wrapper End -->

<!-- JS
   ============================================ -->
<!-- jQuery JS -->
<script src="/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- jquery Waypoints JS -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- jquery Appear JS -->
<script src="/js/jquery.appear.js"></script>
<!-- Numinate JS -->
<script src="/js/numinate.min.js"></script>
<!-- Swiper JS -->
<script src="/js/swiper.min.js"></script>
<!-- Magnific JS -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Circle Progress JS -->
<script src="/js/circle-progress.js"></script>
<!-- Scripts JS -->
<script src="/js/scripts.js"></script>
<!-- Revolution JS -->
<script src="/revolution/rslider.js"></script>
<script src="/revolution/rbtools.min.js"></script>
<script src="/revolution/rs6.min.js"></script>
</body>
</html>